<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBCreator.Properties.Settings>
            <setting name="output" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="dataLookupPath" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="sqlLookupPath" serializeAs="String">
                <value>C:/</value>
            </setting>
        </DBCreator.Properties.Settings>
    </userSettings>
</configuration>