@{
    ViewBag.Title = "Contacto";
}

<!-- Por ahora no usaremos esto-->
<div class="wrapper">
<div id="contact">
	<center><h1>Envía un email</h1></center>
    <br /><br />
	<form action="#" method="post">
		<fieldset>
			<label for="name">Nombre:</label>
			<input type="text" id="name" placeholder="Ingresa tu nombre" />
			
			<label for="email">Email:</label>
			<input type="email" id="email" placeholder="Ingresa tu dirección" />
			
			<label for="message">Mensaje:</label>
			<textarea id="message" placeholder="¿Qué quieres comentarnos?"></textarea>
			
			<input type="submit" value="Enviar mensaje" />
			
		</fieldset>
	</form>
</div>
</div>
