@{
    ViewBag.Title = "Sobre el equipo";
}

<!-- explicamos el proyecto -->
<section class="home_feature">
	<div class="wrapper">
    <br /><br /><br />
    <article class="feature_text_no">
    <h2>Sobre el proyecto</h2>
    <p>Nuestro objetivo es solucionar uno de los problemas que nos afectó en primer año y que se repite con todas las generaciones. La ubicación en el campus es de vital importancia y nuestra intención es eliminar el problema.</p>
    </article>
    </div>
    </section>

    <br /><br />
    <div class="wrapper">
    <center><h1>Desarrolladores:</h1></center>
    </div>
    <br /><br />
<ul class="featured_services">
	<li class="service_1">
		<h3>Gustavo Saavedra</h3>
		<p>Estudiante de ingeniería Civil Computación, tercer año.</p>
	</li>
    <li class="service_2">
		<h3>Katherine Páez Ramos</h3>
		<p>Estudiante de Ingeniería Civil Industrial con Mención en computación. Tercer Año.</p>
	</li>
    <li class="service_3">
		<h3>Ariel Pérez</h3>
		<p>Estudiante de Ingeniería Civil Computación. Tercer Año.</p>
	</li>
    </ul>

