@{
    ViewBag.Title = "Sobre el equipo";
}

<!-- explicamos el proyecto -->
<section class="home_feature">
	<div class="wrapper">
    <br /><br /><br />
    <article class="feature_text_no">
    <h2>Sobre el proyecto</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
    </div>
    </section>

    <br /><br />
    <div class="wrapper">
    <center><h1>Desarrolladores:</h1></center>
    </div>
    <br /><br />
<ul class="featured_services">
	<li class="service_1">
		<h3>Gustavo Saavedra</h3>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum.</p>
	</li>
    <li class="service_2">
		<h3>Katherine Páez Ramos</h3>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum.</p>
	</li>
    <li class="service_3">
		<h3>Ariel Pérez</h3>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere maecenas faucibus mollis interdum.</p>
	</li>
    </ul>

