@{
    ViewBag.Title = "Search";
}
<div>
<form action="/Home/Search2">
<INPUT TYPE="checkbox" NAME="dia" VALUE="Lunes"> Lunes
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
	<INPUT TYPE="checkbox" NAME="dia" VALUE="Martes"> Martes
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
	<INPUT TYPE="checkbox" NAME="dia" VALUE="Miercoles"> Miercoles
    	<INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
	<INPUT TYPE="checkbox" NAME="dia" VALUE="Jueves" > Jueves
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
    <input type="checkbox" name="dia" value="Viernes"> Viernes
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
    <input type="checkbox" name="dia" value="Sabado">
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="1"> modulo 1
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="2"> modulo 2
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="3"> modulo 3
	    <INPUT TYPE="checkbox" NAME="modulo" VALUE="4"> modulo 4
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="5"> modulo 5
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="6"> modulo 6
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="7"> modulo 7
        <INPUT TYPE="checkbox" NAME="modulo" VALUE="8"> modulo 8
      <input type="submit" value="Submit" />
</form>
    </div>