
@{
    ViewBag.Title = "Search";
}

<!-- Por ahora no usaremos esto-->

<div class="wrapper">

	
    <br /><br />

<form action="/Home/Search2">
  <input type="text" name="nombre" id="search" placeholder="Busqueda" required/>
  <div><input type="radio" name=tipo value="Lugar" checked> Lugar
  <input type="radio" name=tipo value="Sala"> Sala
  <input type="radio" name=tipo value="Autoridad"> Autoridad
    </div>
  <input type="submit" value="Submit" />

</form>
</div>

<br />
<br />

    
