@{
    ViewBag.Title = "Contacto";
}


<div class="wrapper">
<div id="contact">
	<center><h1>Envía un email</h1></center>
    <br /><br />
	<form action="#" method="post">
		<fieldset>
			<label for="name">Nombre:</label>
			<input type="text" id="name" placeholder="Ingresa tu nombre" />
			
			<label for="email">Email:</label>
			<input type="email" id="email" placeholder="Ingresa tu dirección" />
			
			<label for="message">Mensaje:</label>
			<textarea id="message" placeholder="¿Qué quieres comentarnos?"></textarea>
			
			<input type="submit" value="Enviar mensaje" />
			
		</fieldset>
	</form>
</div>
</div>
    <footercop>
		<div class="wrapper">
		
<!--Copyright Notice-->

			<p class="copyright_notice">Copyright 2012 © <strong>Spot It</strong>. Todos los derechos reservados.</p>
			<div class="logo"><p>Spot It</p></div>
			
		</div><!--.wrapper-->
	</footercop>

 