@model IEnumerable<Demo_v2.Models.Categoria>

@{
    ViewBag.Title = "Lugares";
}

<h2>@Model.Count() Categorías:</h2>

<ul>
    @foreach (var cat in Model)
    {//por ahora solo muestra una categoría
        <li>@cat.nombre</li>
    }
</ul>

<br /><br />