@model IEnumerable<Demo_v2.Models.Categoria>
@{
    ViewBag.title = "Lugar";
}
<h2>@Model.Count() Categorías:</h2>
<u>
    @foreach (var cat in Model)
    {
        <a href="Lugares/Categorias/@cat.nombre"><li>@cat.nombre</li></a>
        
    }
</u>