
@{
    ViewBag.Title = "Map";
    /*Aquí se enuentra el mapa, su lógica, por ahora solo muestra el edificio San Agustín. Pero funciona*/
}

<script type="text/javascript">
    var cosas = ["nada"];
</script>
      <script type="text/javascript">

          document.getElementById('activate').addEventListener('click', function () {

              //                  cosas = ["CAI", "Baticristo", "Olimpo", "Entrada Principal", "San Agustín"];

              //                  for (i = 0, total = cosas.length; i < total; i++) {
              //                      var n = cosas[i];
              //                      var name = '#' + n;
              //                      var shape = stage.get(name)[0];
              //                      shape.setFill('yellow');
              //                      shape.setAlpha(0.8);
              //                      shapesLayer.draw();

              //                      });
              //                      //*****************END FOR*************
              //                  }
              alert("HOLA");
          }, false);
//              //*******************TERMINA****************

          function ks() {alert("CAF");}
        

      </script>
   

    <h1>mapa</h1>
    <div id="container"></div>

    <div id="contextMenu" style="display:none">
        <div id="contextMenuH"></div>
        <div id="contextMenuB"></div>
    </div>
    
    <h1></h1>
   
       <input type="button" class="button_1"  value="Activate" onclick="ks()" />

    <h2></h2>
   <br /><br />