@model IEnumerable<Demo_v2.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>This is the Map Controller!</h2>

<h3>Buscar por Categoría</h3>
<ol>
    @foreach(var cat in Model)
    {
        <li>@Html.ActionLink(cat.Nombre, "Search", new { idCategoria = cat.Id })</li>
    }
</ol>