@model IEnumerable<Demo_v2.Models.Categoria>

@{
    ViewBag.Title = "Index";
}


<h2>Buscar por Categoría</h2>
<br/>
    <form action="Lugares/Search">
		<select name="idCategoria" size="1" onchange="submit();">
			<option value=0></option>
				    @foreach(var cat in Model)
                    {
                        <option value=@cat.Id selected><li>@Html.ActionLink(cat.Nombre, "Search", new { idCategoria = cat.Id })</li></option>
                    }
		</select>
	</form>


<br/>