@model Demo_v2.Models.Lugar

@{
    ViewBag.Title = "Book";
}

<h2>Confirmación Reserva de Sala</h2>

<table width="250">
    <tr>
        <td>Nombre</td>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <td>Capacidad</td>
        <td>@Model.capacidad</td>
    </tr>
</table>
<button name="Book">Reservar</button>